<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- Во время развертывания проекта библиотеки служб содержимое файла конфигурации необходимо добавить к файлу 
  app.config на узле. Файлы конфигурации для библиотек не поддерживаются System.Configuration. -->
  <system.serviceModel>
    <bindings>
      <netNamedPipeBinding>
        <binding name="NamedPipeBinding_INamedPipeBindingService" closeTimeout="00:05:00"
                openTimeout="00:20:00" receiveTimeout="00:20:00" sendTimeout="00:20:00"
                transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard"
                maxConnections="10" maxBufferPoolSize="50000000"
                maxBufferSize="50000000" maxReceivedMessageSize="50000000">
          <readerQuotas maxDepth="32" maxStringContentLength="50000000"
              maxArrayLength="50000000" maxBytesPerRead="50000000"
              maxNameTableCharCount="50000000" />
          <security mode="Transport" />
        </binding>
      </netNamedPipeBinding>
    </bindings>
    <services>
      <service name="DuplexWcfService.ServiceWcf">
        <endpoint address="net.pipe://localhost/DuplexWcfService/service"
          binding="netNamedPipeBinding" bindingConfiguration="NamedPipeBinding_INamedPipeBindingService"
          contract="DuplexWcfService.INamedPipeBindingService" />
        <endpoint address="net.pipe://localhost/DuplexWcfService/mex"
          binding="mexNamedPipeBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- Чтобы получить сведения об исключениях в ошибках для отладки, 
          установите ниже значение TRUE. Перед развертыванием установите значение FALSE, 
           чтобы избежать разглашения сведений об исключении -->
          <serviceDebug includeExceptionDetailInFaults="False" />
          <serviceMetadata httpGetEnabled="False" />
        
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
